fastapi
uvicorn[standard]
motor
pymongo
pydantic[email]
pydantic-settings
PyJWT
passlib[argon2]
python-dotenv
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt<4.1
apscheduler
google-api-python-client
google-auth
google-auth-oauthlib
requests
firebase-admin
python-multipart